{% extends 'base.html' %}
{% block content %}

<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">Leave Application For Short Time</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                <li class="breadcrumb-item active">Leave Application For Short Time</li>
            </ul>
        </div>
        <div class="col-auto text-right float-right ml-auto">
            <button class="btn btn-primary mr-2" data-toggle="modal" data-target=".bd-example-modal-lg" type="button"><i class="fas fa-history"></i> Leave Apply History</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <form method="post" action="{% url 'save_apply_staff_leave' %}" >
                    {% csrf_token %}

                    <div class="row">
                        <div class="col-12">
                            <h5 class="form-title"><span>Leave Application</span></h5>
                            {% include 'includes/messages.html' %}

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Leave Date</label>
                                    <input type="date" class="form-control" name="leave_start_date" required>
                                </div>
                            </div>

                        </div>

                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Start Time</label>
                                <div>
                                    <input type="time" class="form-control" name="leave_start_time" required>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>End Time</label>
                                <div>
                                    <input type="time" class="form-control" name="leave_end_time" required>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Leave Message</label>
                                <textarea class="form-control" name="leave_message" style="height:250px;" required></textarea>
                            </div>
                        </div>

                        <div class="col-12">
                            <br>
                            <button type="submit" class="btn btn-primary">Apply For Leave</button>
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>


<!-- Large modal -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header ">
                <h5 class="modal-title " id="exampleModalLabel">Leave Apply History</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card card-table">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="table_id" class="table table-hover table-center mb-0">
                                        <thead>
                                        <tr>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                            <th>Start Time</th>
                                            <th>End Time</th>
                                            <th>Message</th>
                                            <th class="text-right">Status</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        {% for i in staff_leave_history %}
                                        <tr>
                                            <td>{{i.start_date}}</td>
                                            <td>{{i.end_date}}</td>
                                            <td>{{i.start_time}}</td>
                                            <td>{{i.end_time}}</td>
                                            <td>{{i.message}}</td>

                                            <td class="text-right">
                                                <div class="actions">
                                                    {% if i.hod_action == 0 %}
                                                    <span class="badge badge-info">Pending</span>
                                                    {% elif i.hod_action == 1 %}
                                                    <span class="badge badge-success">Approved</span>
                                                    {% else %}
                                                    <span class="badge badge-danger">Rejected</span>
                                                    {% endif %}
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}
