{% extends 'base.html' %}
{% block content %}
<div class="row">
   <div class="col-sm-12">
      <div class="card">
         <div class="card-body">
            <form method="post" action="{% url 'update_department' %}" >
               {% csrf_token %}
               <div class="col-12">
                  <h5 class="form-title"><span>Edit Departmrnt</span></h5>
               </div>
               {% include 'includes/messages.html' %}
               <div class="col-sm-12">
                  <div class="form-group">
                     <label>Departmrnt Name</label>
                     <input type="text" class="form-control" name="name" value="{{department.name}}" required>
                     <input type="text" class="form-control" name="department_id" value="{{department.id}}" hidden>
                  </div>
               </div>
               <div class="col-12">
                  <button type="submit" class="btn btn-primary">Update Departmrnt</button>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
{% endblock %}