{% extends 'base.html' %}
{% block content %}
  <div class="row">
                  <div class="col-sm-12">
                     <div class="card">
                        <div class="card-body">
                           <form method="post" action="{% url 'update_incharge' %}" enctype="multipart/form-data">
                              {% csrf_token %}
                                 <div class="col-12">
                                    <h5 class="form-title"><span>Edit Incharge</span></h5>
                                 </div>

                                 {% include 'includes/messages.html' %}

                                 <div class="col-sm-12">
                                    <div class="form-group">
                                       <label>Profile Pic</label>
                                       <input type="file" class="form-control" name="profile_pic" >
                                         <input type="text" class="form-control" name="incharge_id" value="{% for i in incharge %}{{i.admin.id}}{% endfor %}" hidden>
                                    </div>
                                 </div>
                                 <div class="col-sm-12">
                                    <div class="form-group">
                                       <label>First Name</label>
                                       <input type="text" class="form-control" name="first_name" value="{% for i in incharge %}{{i.admin.first_name}}{% endfor %}" >
                                    </div>
                                 </div>
                                 <div class="col-sm-12">
                                    <div class="form-group">
                                       <label>Last Name</label>
                                       <input type="text" class="form-control" name="last_name" value="{% for i in incharge %}{{i.admin.last_name}}{% endfor %}" >
                                    </div>
                                 </div>
                               <div class="col-sm-12">
                                    <div class="form-group">
                                       <label>Email</label>
                                       <input type="text" class="form-control" name="email" value="{% for i in incharge %}{{i.admin.email}}{% endfor %}" >
                                    </div>
                                 </div>
                               <div class="col-sm-12">
                                    <div class="form-group">
                                       <label>Username</label>
                                       <input type="text" class="form-control" name="username" value="{% for i in incharge %}{{i.admin.username}}{% endfor %}" >
                                    </div>
                                 </div>
                               <div class="col-sm-12">
                                    <div class="form-group">
                                       <label>Password</label>
                                       <input type="password" class="form-control" name="password"  placeholder="Fill only if you want to change Password." >
                                    </div>
                                 </div>
                               <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Address</label>
                                        <textarea class="form-control" name="address" required >{% for i in incharge %}{{i.address}}{% endfor %}"</textarea>
                                    </div>
                                 </div>

                               <div class="col-sm-12">
                                    <label>Gender</label>
                                       <select class="form-control" name="gender" >
                                          <option>Select Gender</option>
                                          <option value="Female">Female</option>
                                          <option value="Male">Male</option>
                                          <option value="Others">Others</option>
                                       </select>
                                 </div>
                               <br>
                                 <div class="col-12">
                                    <button type="submit" class="btn btn-primary">Update Incharge</button>
                                 </div>

                           </form>
                        </div>
                     </div>
                  </div>
               </div>
{% endblock %}