{% extends 'base.html' %}
{% block content %}

<div class="content container-fluid">

<div class="page-header">
<div class="row align-items-center">
<div class="col">
<h3 class="page-title">Edit Section</h3>
<ul class="breadcrumb">
<li class="breadcrumb-item"><a href="#">Section</a></li>
<li class="breadcrumb-item active">Edit Section</li>
</ul>
</div>
</div>
</div>

    {% include 'includes/messages.html' %}

<div class="row">
<div class="col-sm-12">
<div class="card">
<div class="card-body">
    <form action="{% url 'update_section' %}" method="post">
        {% csrf_token %}
<div class="row">
<div class="col-12">
<h5 class="form-title"><span>Section Information</span></h5>
</div>
<div class="col-12 col-sm-6">
<div class="form-group">
<label>Section Name</label>
    <input type="text" class="form-control" name="section_name" value="{{section.name}}" required>
    <input type="text" class="form-control" name="section_id" value="{{section.id}}" hidden>
</div>
</div>
            <div class="col-12 col-sm-6">
                <label>Departmrnt</label>
                <select class="form-control" name="department_id" required>
                    <option>Select Departmrnt</option>
                    {% for i in department %}
                    <option value="{{i.id}}">{{i.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-12 col-sm-6">
                <label>Incharge</label>
                <select class="form-control" name="incharge_id" required>
                    <option>Select Incharge</option>
                    {% for i in incharge %}
                    <option value="{{i.id}}">{{i.admin.first_name}}&nbsp;{{i.admin.last_name}}</option>
                    {% endfor %}
                </select>
            </div>

<div class="col-12">
    <br>
    <button type="submit" class="btn btn-primary">Update Section</button>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
</div>

{% endblock %}
